*{
    font-family: 'Raleway', sans-serif;
}


.caption{
    height: 50px;
}
.container{
    padding-left: 0px;
    padding-right: 0px;
}

.border-bar-left{
    border-right:groove;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.border-bar-right{
    border-left:groove;
    padding-left: 0;
    text-align: center;
}

.fullImg{
    width:100%; height:100%;
}
.panel {
    width: 50%;
    border: solid 3px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline-block;
    padding: 0;

}

.panel-heading{
    padding: 0;
}
.panel-body {
    padding: 0;
}

img.resize {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

}

.col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
}

.pane {
    width: 200px;
    height: 150px;
    background: #7887AB;
    display: inline-block;
    margin: 5px;

}

.btn.navbar-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.nav.nav-center {
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0;
    float: none;
}

.navbar-inner {
    text-align: center;
}

@import url('http://fonts.googleapis.com/css?family=Raleway:400,200');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

html {
    background: #ffffff;
    /*width: 100%;*/
    /*width: 100vw;*/
    /*height: 100%;*/
    /*height: 100vh;*/
    font-family: 'Raleway', sans-serif;
}

body {
    padding-top: 5%;
    padding-left: 0;
    padding-right: 0;
    /*text-align: center;*/
}

div.margin {
    margin-bottom: 1.5em;
}

/* Text Input */
.form-input {
    background: #fafafa;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: 12px 16px;
    min-width: 25%;
    font-family: 'Raleway', sans-serif;
}

.btn-clean {
    display: inline-block;
    padding: 12px 16px;
    background: #fafafa;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    text-decoration: none;
    color: #8f8f8f;
    font-size: 1em;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.btn-clean.btn-xs {
    display: inline-block;
    padding: 6px 6px;
    background: #fafafa;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    text-decoration: none;
    color: #8f8f8f;
    font-size: .5em;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.btn-clean i {
    position: relative;
    top: 1px;
    margin-left: 7px;
    font-size: 1.15em;
}

.btn-clean i.ion-ios-arrow-down {
    top: 2px;
    margin-left: 8px;
}

.btn-clean:hover,
.btn-clean:focus,
.btn-clean:active,
.clean.button-group.open .button {
    border-color: #8f8f8f;
    color: #808080;
    text-decoration: none;
}

.form-input:focus {
    border-color: #8f8f8f;
}

/* Required for Dropdowns */
.clean.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.clean.dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 15px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fafafa;
    border: 1px solid #8f8f8f;
    border-radius: 2px;
}

.clean.dropdown-menu:before {
    content: "\00a0";
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -6px;
    border: 1px solid #8f8f8f;
    border-right: 0;
    border-bottom: 0;
    background-color: #fafafa;
    right: 10px;
    -webkit-transform: rotate(48deg) skew(5deg);
    transform: rotate(48deg) skew(5deg);
}

.clean.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #8f8f8f;
}

.clean.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    text-decoration: none;
    line-height: 2;
    color: #8f8f8f;
    white-space: nowrap;
}

.clean.dropdown-menu > li > a:hover,
.clean.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #808080;
    background-color: #f3f3f3;
}

.clean.button-group,
.clean.button-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.clean.button-group > .button,
.clean.button-group-vertical > .button {
    position: relative;
    float: left;
}

