html, body, .container-fluid, .row-fluid {
    height: 100%;
}

.sidebar {
  background-color: #eeeeee;
}

@media (min-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    background-color: #EEEEEE;
  }
}

.content {
    margin-top: 0;
}

.one {
    width: 42%;
}
.two {
    width: 50%;
}
.hunnid {
    width: 100%;
}

.well{
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
}