<div ng-include="'static/app/views/templates/nav-panel.html'"/>

<div class="container-fluid grid">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 well">

            <form class="navbar-form" style="padding-right: 5px; float: left" ng-hide="model.adminOn">
                <div class="form-group">
                    <input type="text" class="form-input clean" placeholder="Admin Login"
                           ng-model="model.adminPW">
                </div>
            </form>


            <button ng-show="model.adminOn" class="btn btn-clean navbar-btn" ng-click="dropDB()"> Rebuild
                Database <span
                        class="glyphicon glyphicon-trash"></span>
            </button>


            <button ng-show="model.adminOn" class="btn btn-clean navbar-btn" ng-click="makeDB()"> Update Database
                    <span
                            class="glyphicon glyphicon-refresh"></span>
            </button>

            <button ng-show="model.adminOn" class="btn btn-clean navbar-btn" ng-click="pushReference()"> Push
                Reference <span
                        class="glyphicon glyphicon-hdd"></span>
            </button>
            <button class="btn btn-clean navbar-btn" ng-click="loadReference()"> Load
                Reference <span
                        class="glyphicon glyphicon-import"></span>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2 well">
            <div class="row">
                <button ng-show="(model.stage != 'view' || model.refStage != 'view') || (model.stage != 'runs' || model.refStage != 'runs')"
                        class="btn btn-clean navbar-btn" style="display:inline-block" ng-click="swap()">
                    Toggle: {[ model.eSwitch | uppercase ]}
                </button>
            </div>

            <div class="row " ng-repeat="(index, filter) in model.filters track by $index">
                <div class="col-sm-12 well" ng-repeat="(key, values) in filter | orderBy:'key'" style="float: left;
                display: inline-block; background-color: white">
                    <h5 style="float: left"> {[ key | uppercase ]} </h5>
                    <button class="btn btn-clean btn-xs"
                            ng-class="{'active' : toggleObject.item == $index}"
                            ng-repeat="value in values | orderBy:'value'"
                            ng-click="toggleFilter(key, value)"> {[ value | uppercase ]}
                    </button>
                </div>
            </div>

            <button class="btn btn-clean" ng-click="softReset()">
                Reset Filters
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <button class="btn btn-clean navbar-btn" ng-show="model.runName" ng-click="model.stage = 'runs'"
                        style="color: black">{[ model.runName ]}
                </button>


                <button class="btn btn-clean navbar-btn" ng-show="model.entry" ng-click="model.stage = model.eSwitch"
                        style="color: black">{[ model.entry ]}
                </button>


                <button class="btn btn-clean navbar-btn" ng-click="leftReset()" ng-show="model.runName"> Left
                    Reset <span
                            class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="panel pane" style="background-color: #4C678C" ng-show="model.stage == 'runs'"
                 ng-repeat="run in model.runs | filter:model.search | orderBy:'name'"
                 ng-click="stageOne(run.name)">
                <h2>{[ run.name | uppercase ]}</h2>
                <h6> Events: {[run.events | number ]} </h6>
                <h6> Sub Runs: {[run.subRuns | number ]} </h6>
            </div>
            <div class="panel pane" ng-show="model.stage == 'events'"
                 ng-repeat="event in model.events | filter:model.search | orderBy:'name'"
                 ng-click="stageTwo(event.name)">
                <h2>{[ event.name | uppercase ]}</h2>
            </div>
            <h2 ng-show="model.stage == 'events' && model.events == undefined"> No Events Parsed</h2>

            <div class="panel pane" ng-show="model.stage == 'subRuns'"
                 ng-repeat="subRun in model.subRuns | filter:model.search | orderBy:'name'"
                 ng-click="stageTwo(subRun.name)">
                <h2>{[subRun.name | uppercase ]}</h2>
            </div>
            <div class="panel panel-default" ng-show="model.stage == 'view'"
                 ng-repeat="hist in model.new track by $index">

                <div class="panel-heading">
                    <h6><span class="label label-default" style="display: inline-block"
                              ng-repeat="(category, tag) in hist.tags | orderBy:'tag'">
                                    {[category | uppercase]}: {[ tag | uppercase ]}</span></h6>
                </div>
                <div class="panel-body">
                    <img class="resize image" ng-src="/api/hist/image/{[ hist._id]}"
                         ng-click="image(hist._id)">
                </div>
                <div class="panel-footer">
                    {[hist.caption]}
                </div>

            </div>
        </div>
        <div class="col-lg-5">
            <div class="row">
                <button class="btn btn-clean navbar-btn" ng-show="model.refRun" ng-click="model.refStage = 'runs'"
                        style="color: black">{[ model.refRun ]}
                </button>


                <button class="btn btn-clean navbar-btn" ng-show="model.refEntry"
                        ng-click="model.refStage = model.eSwitch"
                        style="color: black">{[ model.refEntry ]}
                </button>


                <button class="btn btn-clean navbar-btn" ng-show="model.refRun" ng-click="rightReset()"> Right Reset
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
            </div>
            <div class="panel pane" style="background-color: #A6A6AE" ng-show="model.refStage == 'runs'"
                 ng-repeat="run in model.runs | filter:model.search | orderBy:'name'"
                 ng-click="stageOneRef(run.name)">
                <h2>{[ run.name | uppercase ]}</h2>
                <h6> Events: {[run.events | number ]} </h6>
                <h6> Sub Runs: {[run.subRuns | number ]} </h6>
            </div>
            <div class="panel pane" ng-show="model.refStage == 'events'"
                 ng-repeat="event in model.refEvents | filter:model.search | orderBy:'name'"
                 ng-click="stageTwoRef(event.name)">
                <h2>{[ event.name | uppercase ]}</h2>
            </div>
            <h2 ng-show="model.refStage == 'events' && model.refEvents == undefined"> No Events Parsed</h2>

            <div class="panel pane" ng-show="model.refStage == 'subRuns'"
                 ng-repeat="subRun in model.refSubRuns | filter:model.search | orderBy:'name'"
                 ng-click="stageTwoRef(subRun.name)">
                <h2>{[subRun.name | uppercase ]}</h2>
            </div>
            <div class="panel panel-default" ng-show="model.refStage == 'view'"
                 ng-repeat="hist in model.newRef track by $index">
                <div class="panel-heading">
                    <h6><span class="label label-default" style="display: inline-block"
                              ng-repeat="(category, tag) in hist.tags | orderBy:'tag'">
                                    {[category | uppercase]}: {[ tag | uppercase ]}</span></h6>
                </div>
                <div class="panel-body">
                    <img class="resize image" ng-src="/api/hist/image/{[ hist._id]}"
                         ng-click="image(hist._id)">
                </div>
                <div class="panel-footer">
                    {[hist.caption]}
                </div>
            </div>
        </div>
    </div>
</div>

