<link rel="stylesheet" href="static/app/styles/test.css">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-2 sidebar" style="overflow-y:auto">
            <!--<h2>DUNE DQM</h2>-->
            <img ng-click="newTab()" style="max-width:200px" src="static/app/images/logo-horiz.png">

            <div class="row well" style="text-align:center">
                <button class="btn btn-clean" ng-click="softReset()">
                    Reset Filters
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
                <button class="btn-clean btn" ng-click="toggleEtc()"><span
                        class="glyphicon glyphicon-resize-vertical"></span>
                </button>
            </div>
            <div ng-show="model.showEtc" style="text-align:center">
                <div class="row well" style="display: inline-block;">
                    <button style="width: 80%" ng-click="toggleLeft()" class="btn btn-clean navbar-btn">Toggle Left
                    </button>
                    <button style="width: 80%" ng-click="toggleRight()" class="btn btn-clean navbar-btn">Toggle Right
                    </button>
                    <button style="width: 80%" ng-click="model.capShow = (model.capShow ? false: true)"
                            class="btn btn-clean navbar-btn">
                        Toggle Captions
                    </button>
                    <button style="width: 80%" ng-click="model.tagShow = (model.tagShow ? false: true)"
                            class="btn btn-clean navbar-btn">
                        Toggle Tags
                    </button>
                    <button style="width: 80%" ng-show="model.adminOn" class="btn btn-clean navbar-btn"
                            ng-click="dropDB()">
                        Rebuild
                        Database <span
                            class="glyphicon glyphicon-trash"></span>
                    </button>

                    <button style="width: 80%" ng-show="model.adminOn" class="btn btn-clean navbar-btn"
                            ng-click="updateDB()"> Update
                        Database
                    <span
                            class="glyphicon glyphicon-refresh"></span>
                    </button>

                    <button style="width: 80%" ng-show="model.adminOn" class="btn btn-clean navbar-btn"
                            ng-click="pushReference()"> Push
                        Reference <span
                                class="glyphicon glyphicon-hdd"></span>
                    </button>
                    <form class="navbar-form"
                          ng-hide="model.adminOn">
                        <input type="text" style="width: 80%" class="form-input clean" placeholder="Admin Login"
                               ng-model="model.adminPW">
                    </form>
                </div>
            </div>
            <div ng-repeat="(key, values) in model.filters | orderBy:'key'" style="display: block">
                <h5> {[ key | uppercase ]} </h5>
                <label ng-repeat="value in values | orderBy:'value'"
                       style="font-family: 'Raleway', sans-serif; display: block; font-size: 10pt">
                    <!--<option ng-repeat="value in values | orderBy:'value'"><p>{[ value ]}</p></option>-->
                    <!--</select>-->
                    <!--<label ng-repeat="role in roles">-->
                    <input type="checkbox" checklist-model="model.filterValues[key]" checklist-value="value">
                    {[ value ]}</label>
                <!--</label>-->
            </div>

        </div>

        <div class="col-lg-10 col-lg-offset-2" style="padding: 0;">
            <div ng-show="model.showLeft"
                 ng-class="(model.showRight == true) ? 'col-lg-6 border-bar-left' : 'col-lg-12'">

                <nav class="col-lg-offset-2 navbar navbar-default navbar-fixed-top"
                     ng-class="(model.showRight == true) ? 'one' : 'hunnid'" style="background-color: #b2c4e7;">

                    <form ng-show="model.leftStage == 'select'" class="navbar-form" role="search" style="padding-right:
                    5px; float: left">
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Search Left"
                                   ng-model="model.leftSearch">
                        </div>
                    </form>

                    <div ng-show="model.leftStage == 'view'">
                        <div class="col-lg-3">
                            <h3 style="float: right"> Scale : </h3>
                        </div>
                        <div class="col-lg-3">
                            <slider style="margin-top: 30px"
                                    ng-model="leftSlider" min="1"
                                    step="1" max="4"></slider>
                        </div>

                        <button disabled class="btn btn-clean navbar-btn" style="float: left">
                            {[ model.leftRunName ]} : {[ model.leftEntry ]}
                        </button>

                    </div>


                </nav>


                <ul ng-show="model.leftStage == 'select'"
                    ng-repeat="run in model.runs | filter:model.leftSearch | orderBy:'name'"
                    style="display: inline-block; width: 22%; text-align: left; vertical-align: top; padding-left:
                    -10px">
                    <h4>{[ run.name | uppercase ]}</h4>

                    <!--<div class="col-lg-6 list-group">-->

                    <!--<li ng-repeat="event in run.events"-->
                    <!--ng-click="leftStageOne(run.name, event)">-->
                    <!--{[ event| uppercase ]}-->
                    <!--</li>-->

                    <!--</div>-->
                    <!--<div class="col-sm-6 list-group">-->
                    <li ng-repeat="subRun in run.subRuns"
                        ng-click="leftStageOne(run.name, subRun)">
                        {[ subRun| uppercase ]}
                    </li>

                    <!--</div>-->
                </ul>

                <div class="well" ng-show="model.leftStage == 'view'"
                     ng-repeat="hist in model.leftNew track by $index" ng-style="leftSizer" style="display:
                     inline-block; padding: 0; vertical-align: top">

                    <div ng-show="model.tagShow" class="panel-heading">
                        <h6>
                            <span class="label label-default" style="display: inline-block"
                                  ng-repeat="(category, tag) in hist.tags | orderBy:'tag'">
                {[category | uppercase]}: {[ tag | uppercase ]}</span>
                        </h6>
                    </div>
                    <div class="panel-body" style="padding: 0px">
                        <img class="resize image" ng-src="/api/hist/image/{[ hist._id]}"
                             ng-click="image(hist._id, hist.caption)">
                    </div>
                    <div ng-show="model.capShow" class="panel-footer caption">
                        {[hist.caption]}
                    </div>

                </div>


            </div>

            <div ng-show="model.showRight" ng-class="(model.showLeft == true) ? 'col-lg-6 border-bar-right' : ''"
                 style="padding-right: 0">

                <nav ng-class="(model.showLeft == true) ? 'col-lg-offset-7 one' : 'col-lg-offset-2 hunnid' "
                     class="nav navbar navbar-default navbar-fixed-top" style="background-color: #ff865d">

                    <form ng-show="model.rightStage == 'select'" class="navbar-form" role="search"
                          style="padding-right: 5px; float: left">
                        <div class="form-group">
                            <input type="text" class="form-input" placeholder="Search Right"
                                   ng-model="model.rightSearch">
                        </div>
                    </form>
                    <button ng-show="model.rightStage == 'select'" class="btn btn-clean navbar-btn"
                            ng-click="loadReference()"> Load
                        Reference <span
                                class="glyphicon glyphicon-import"></span>
                    </button>

                    <div ng-show="model.rightStage == 'view'">
                        <div class="col-lg-3">
                            <h3 style="float: right"> Scale : </h3>
                        </div>
                        <div class="col-lg-3">
                            <slider style="margin-top: 30px"
                                    ng-model="rightSlider"
                                    min="1"
                                    step="1"
                                    max="4"></slider>
                        </div>
                        <button disabled class="btn btn-clean navbar-btn"> {[model.rightRunName ]} : {[ model.rightEntry
                            ]}
                        </button>
                        <!--<button ng-show="model.rightStage == 'view'" class="btn btn-clean navbar-btn"-->
                        <!--ng-click="rightReset()">-->
                        <!--Right-->
                        <!--Reset <span-->
                        <!--class="glyphicon glyphicon-arrow-left"></span>-->
                        <!--</button>-->

                    </div>
                </nav>

                <ul ng-show="model.rightStage == 'select'"
                    ng-repeat="run in model.runs | filter:model.rightSearch | orderBy:'name'"
                    ng-style="rightSizer" style="display: inline-block; width: 22%; text-align: left; vertical-align:
                      top">
                    <h4>{[ run.name | uppercase ]}</h4>

                    <!--<div class="col-sm-6 list-group">-->
                    <!--<button type="button" class="list-group-item" ng-repeat="event in run.events"-->
                    <!--ng-click="rightStageOne(run.name, event)">-->
                    <!--{[ event| uppercase ]}-->
                    <!--</button>-->
                    <!--</div>-->
                    <li ng-repeat="subRun in run.subRuns"
                        ng-click="rightStageOne(run.name, subRun)">
                        {[ subRun| uppercase ]}
                    </li>
                </ul>

                <div class="well" ng-show="model.rightStage == 'view'"
                     ng-repeat="hist in model.rightNew track by $index" ng-style="rightSizer" style="display:
                     inline-block; padding: 0; vertical-align: top">

                    <div ng-show="model.tagShow" class="panel-heading">
                        <h6>
                            <span class="label label-default" style="display: inline-block"
                                  ng-repeat="(category, tag) in hist.tags | orderBy:'tag'">{[category | uppercase]}: {[ tag | uppercase ]}</span>
                        </h6>
                    </div>
                    <div class="panel-body" style="padding: 0px">
                        <img class="resize image" ng-src="/api/hist/image/{[ hist._id]}"
                             ng-click="image(hist._id, hist.caption)">
                    </div>
                    <div ng-show="model.capShow" class="panel-footer caption">
                        {[hist.caption]}
                    </div>

                </div>

            </div>
            <div ng-show="model.showLeft != true && model.showRight != true">
                <h1>Nothing to display!</h1>
            </div>
        </div>
    </div>
</div>
