<!-- START NAV -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4F628E">
    <div class="navbar-inner">
        <ul class="nav navbar-nav pull-left">



        </ul>
        <ul class="nav navbar-nav nav-center">
            <li><a style="padding: 0" href="https://web.fnal.gov/collaboration/DUNE/SitePages/Home.aspx">
                <img style="max-width:200px" src="static/app/images/logo-horiz.png">
            </a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <form class="navbar-form" role="search" style="padding-right: 5px; float: left">
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Search"
                               ng-model="model.search">
                    </div>
                </form>
            </li>
            <li>
                <button ng-show="newTab" class="btn btn-clean navbar-btn" ng-click="newTab()">
                    New Tab
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
            </li>

        </ul>
    </div>
</nav>
<!-- END NAV -->
