{% extends "parts/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
        <div class="col-md-4">
            <div class="well">

            </div>
        </div>
    </div>
</div>

{% endblock %}