{% extends "parts/base.html" %}
{% block content %}

<style>

    .panel {
        width: 50%;
        border: solid 1px;
        margin-bottom: 0px;
    }

    img.resize {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-top: auto;
        margin-bottom: auto;

    }

    p {
        text-align: center;
        font-size: 8pt;
        width: 100%;
        color: black;
    }

    .col-xs-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .box {
        /*border: solid 1px;*/
    }
</style>


<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6 box">
            <div class="row">
                <div class=" col-md-4 col-md-offset-4">
                    <div class="well well-sm" style="margin-bottom: 5px; margin-top: 10px">
                        <select class="selectpicker selector" data-live-search="true" data-width='100px'
                                style="display: none; " title="{{ left_hist_list['run_name'] }}" data-select_id="run">

                            <!--{% for item in nav_dict %}-->
                            <!--<option>{{ item }}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <select class="selectpicker selector" data-live-search="true" data-width='100px'
                                style="display: none; " title="{{ left_hist_list['event_number'] }}"
                                data-select_id="event">

                            <!--{% for item in nav_dict %}-->
                            <!--<option>{{ item }}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"
                                                                            aria-hidden="true"></span></button>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="well">
                    <div class="isotope box" id="grid_left">

                        {% for item in left_hist_list['panel_data'] %}
                        <div class="panel panel-default {{ item.hist_type }} {{ item.view }} {{ item.apa }}">
                            <a class="btn-block image-hook" data-toggle="modal" href="#basicModal">
                                <div class="panel-body">
                                    <div class="row" style="width: 100%">
                                        <div class="col-xs-3">
                                            <p> {{ item.hist_type_pretty }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> Event: {{ item.event_number }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> View: {{ item.view }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> APA: {{ item.apa }} </p>
                                        </div>
                                    </div>
                                    <img class="resize image" src="{{ url_for('get_hist', uuid=item.uuid) }}">
                                </div>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 box">
            <div class="row">
                <div class=" col-md-4 col-md-offset-4">
                    <div class="well well-sm" style="margin-bottom: 5px; margin-top: 10px">
                        <select class="selectpicker selector" data-live-search="true" data-width='100px'
                                style="display: none; " title="{{ right_hist_list['run_name'] }}" data-select_id="run">

                            <!--{% for item in nav_dict %}-->
                            <!--<option>{{ item }}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <select class="selectpicker selector" data-live-search="true" data-width='100px'
                                style="display: none; " title="{{ right_hist_list['event_number'] }}"
                                data-select_id="event">

                            <!--{% for item in nav_dict %}-->
                            <!--<option>{{ item }}</option>-->
                            <!--{% endfor %}-->
                        </select>
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-refresh"
                                                                            aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="well">

                    <div class="isotope box" id="grid_right">

                        {% for item in right_hist_list['panel_data'] %}
                        <div class="panel panel-default {{ item.hist_type }} {{ item.view }} {{ item.apa }}">

                            <a class="btn-block image-hook" data-toggle="modal" href="#basicModal">
                                <div class="panel-body">
                                    <div class="row" style="width: 100%">
                                        <div class="col-xs-3">
                                            <p> {{ item.hist_type_pretty }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> Event: {{ item.event_number }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> View: {{ item.view }} </p>
                                        </div>
                                        <div class="col-xs-3">
                                            <p> APA: {{ item.apa }} </p>
                                        </div>
                                    </div>
                                    <img class="resize image" src="{{ url_for('get_hist', uuid=item.uuid) }}">
                                </div>

                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--<div class="modal-header">-->
                <!--<h4 class="modal-title" id="myModalLabel">Modal View</h4>-->
                <!--</div>-->
                <div class="modal-body">
                    <img class="modal_image" src="">
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<!-- /container -->

{# <-- JS imports -->#}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.js"></script>
<script src="/static/js/index.js"></script>
</body>
{% endblock %}