<style>
    .navbar-brand {
        float: none;
    }

    .navbar-header {
        margin: -25px;
    }

    .nav navbar-nav {
        line-height: 50%;
    }

    .selector {
        width: inherit;
    }

    .navbar-nav.navbar-right {
        margin-top: 15px;
        margin-right: 15px
    }

    .button:active,
    .button.is-checked {
        background-color: #28F;
    }

    .button.is-checked {
        color: white;
        text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                    style="margin-top: 35px">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img style="max-width:80px" src="/static/img/lbnelogo.png">
            </a>
        </div>


        <div id="nav" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <!--{% if nav_dict|count == 0 %}-->
                <!--<h4>NO RUNS FOUND</h4>-->
                <!--{% else %}-->
                <!--<li><a class="nav navbar-nav" style="font-size: medium">Run</a></li>-->
                <!--<li class="nav navbar-nav" style="margin-top: 15px">-->


                <!--<select class="selectpicker selector" data-live-search="true" data-width='100px'-->
                <!--style="display: none; " title="RUNS" data-select_id="run">-->

                <!--&lt;!&ndash;{% for item in nav_dict %}&ndash;&gt;-->
                <!--&lt;!&ndash;<option>{{ item }}</option>&ndash;&gt;-->
                <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
                <!--</select>-->

                <!--</li>-->

                <!--<li><a class="nav navbar-nav" style="font-size: medium">Event</a></li>-->
                <!--<li class="nav navbar-nav" style="margin-top: 15px">-->
                <!--<select class="selectpicker" data-live-search="true" data-width='100px' style="display: none;"-->
                <!--data-width="auto">-->

                <!--</select>-->

                <!--</li>-->
                <!--<li class="nav navbar-nav" style="margin-top: 15px">-->
                <!--<select class="selectpicker" data-live-search="true" data-width='100px' style="display: none;"-->
                <!--data-width="auto">-->

                <!--</select>-->
                <!--</li>-->
            </ul>

            <ul class="nav navbar-nav btn-toolbar" style="margin-top: 15px">
                <li class="btn-group sort-group" data-filter-group="type" role="group">
                    <button data-filter=".avc" type="button" class="btn btn-primary sort-button">ADC vs Channel</button>
                    <button data-filter=".tvc" type="button" class="btn btn-primary sort-button">Time vs
                        Channel
                    </button>
                    <button data-filter="plane" type="button" class="btn btn-primary sort-button">Plane Views</button>
                </li>
                <li class="btn-group sort-group" data-filter-group="view" role="group">
                    <button data-filter=".V" type="button" class="btn btn-success sort-button ">View V</button>
                    <button data-filter=".U" type="button" class="btn btn-success sort-button">View U</button>
                    <button data-filter=".Z0" type="button" class="btn btn-success sort-button">View Z0</button>
                    <button data-filter=".Z1" type="button" class="btn btn-success sort-button">View Z1</button>
                </li>
                <li class="btn-group sort-group" data-filter-group="apa" role="group">
                    <button data-filter=".0" type="button" class="btn btn-warning sort-button">APA 0</button>
                    <button data-filter=".1" type="button" class="btn btn-warning sort-button">APA 1</button>
                    <button data-filter=".2" type="button" class="btn btn-warning sort-button">APA 2</button>
                    <button data-filter=".3" type="button" class="btn btn-warning sort-button">APA 3</button>
                </li>
                <li class="btn-group" role="group">
                    <button data-filter="*" type="button" class="btn btn-danger show-all">Show All</button>
                    <button data-filter="run_hist" type="button" class="btn btn-danger ">Run Histograms</button>

                </li>

            </ul>

            <!--{% endif %}-->
            <ul class="nav navbar-nav navbar-right">
                <li class="btn btn-default">ADMIN</li>
            </ul>
        </div>
    </div>
</nav>
<div class="row">
</div>


<!--<script src="/static/js/nav.js"></script>-->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-select.css">
<script src="/static/js/bootstrap-select.js"></script>
